{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-5">
<h4>Customer Name:{{u}}</h4>
    <div class="row">
        <h4>Order Details:</h4>
        {% for i in o %}
        <div class="col-sm-4   border border-1 border-dark bg-warning">
            <center><img src="{{i.product.image.url}}" height="180px" width="250px"></center>

        </div>


        <div class="col-sm-8 my-0 text-center border border-1 border-dark bg-warning">
            <b>Delivery Address:{{i.address}}</b><br>
            <b>Customer Phone Number:{{i.phone}}</b><br>
            <b>Product Name:{{i.product.name}}</b><br>
            <b>Price:{{i.product.price}}</b><br>
            <b>No of Items:{{i.no_of_items}}</b><br>
            <b>Ordered on:{{i.date_ordered}}</b><br>
            <b>Delivery Status:<span class="text-dark">{{i.delivery_status}}</span></b><br>
        </div>
    {% endfor %}
    </div>

</div>


{% endblock %}
